/* blank for element */
body {
    background-image: url("station.jpg");
    background-size: cover;
    font-family: 'Segoe UI', 'Helvetica Neue',-apple-system, sans-serif, Oxygen, BlinkMacSystemFont, Roboto, Ubuntu, Cantarell, 'Open Sans';
    font-weight: bold;
    text-align: center;
}

h1 {
    margin-top: 10px;
    margin-bottom: 10px;
}

h2 {
    font-size: 50px;
    margin-top: 0;
    margin-bottom: 20px;
}

p {
    font-size: 18px;
    font-weight: lighter;
    padding: 20px;
}

button {
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    font-weight: bold;
    width: 200px;
    margin-bottom: 5px;
    border-radius: 5px;
}
/* . for class */
.container {
    background-color: rgba(255, 255, 255, 0.8);
    width:400px;
    margin: auto;
    padding: 10px;
    border-radius: 10px;
    margin-top: 100px;
}
/* # for id */
#increment-btn {
    background: darkblue;
}

#save-btn {
    background: orangered;
}

